body {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.0em;
  text-rendering: optimizelegibility; }

h2 {
  border-bottom: 0.1em solid gray; }

ul.plain {
  list-style-type: none; }

ul.bulletcloud {
  margin-right: 0; }
  ul.bulletcloud li {
    display: inline-block;
    margin-right: 0.5em; }
  ul.bulletcloud li:nth-child(n+2)::before {
    content: "  \02666  "; }

ul.plaincloud {
  list-style-type: none; }
  ul.plaincloud li {
    display: inline-block;
    margin-right: 0.5em; }

div#certlogos img {
  max-height: 5.0em;
  margin: 0 1.0em; }

table.basic td, table.basic th {
  padding: 0 1.0em; }

span.company {
  font-style: italic;
  text-transform: capitalize; }

ul.duties::before {
  content: "Duties: "; }
