body {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  text-rendering: optimizelegibility;
  font-size: 1em; }

h1, h2 {
  color: #222222; }

h2 {
  border-bottom: 0.1em solid gray; }

a {
  color: #66A;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

ul.plain {
  list-style-type: none; }

ul.bulletcloud {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.bulletcloud li {
    display: inline-block;
    margin: 0 0 0 0.5em; }
  ul.bulletcloud li {
    margin: 0;
    padding: 0 0 0 0.3em; }
  ul.bulletcloud li:nth-child(n+2)::before {
    content: "  \02666  "; }

ul.plaincloud {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.plaincloud li {
    display: inline-block;
    margin: 0 0 0 0.5em; }
  ul.plaincloud li {
    line-height: 1.5em; }

div#certlogos img {
  max-height: 3.0em;
  margin: 0 1.0em; }

table.basic {
  font-size: 0.9em;
  overflow-x: auto; }
  table.basic th, table.basic td {
    padding: 0 0.5em; }

table#certifications {
  margin-bottom: 1em; }

ul.breakdown {
  margin-top: 0;
  margin-bottom: 0.2em; }

img#portrait {
  height: 100px;
  width: 100px;
  border: 0;
  display: block;
  float: right;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

.glyph {
  font-family: Symbol,Dingbats,sans-serif; }
