$almostBlack: #2D2D2D;
$borderPrefixes: -moz-border,-webkit-border,-o-border,border; 

body {
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    text-rendering: optimizelegibility;
    font-size: 1em;
    background-color: #F5F5F5;
}
h1,h2,hr {color: $almostBlack; }

h2 { border-bottom: 0.1em solid gray; }

a {color: #66A; text-decoration: none; }
a:hover {text-decoration: underline; }


@mixin cloudlist {
    margin: 0; padding: 0;
    li {
        display: inline-block;
        margin: 0 0 0 0.5em;
    }
}

@mixin plainlist {
    list-style-type: none;
}


ul.plain {
    @include plainlist;
}

ul.bulletcloud {
    @include cloudlist;
    @include plainlist;
    li {
        margin: 0; 
        padding: 0 0 0 0.3em;
    }
    li:nth-child(n+2)::before { content: "  \02666  "; }
}

ul.plaincloud {
    @include plainlist;
    @include cloudlist;
    li {line-height: 1.5em;}
}

div#certlogos {
    img {
        max-width: 5.0em;
        margin: 0 1.0em;
        vertical-align: top;
    }
}

table.basic {
    font-size: 0.9em;
    overflow-x: auto;
    th,td { padding: 0 0.5em; }
}
table#certifications {
    margin-bottom: 1em;
}

ul.breakdown {
    margin-top: 0;
    margin-bottom: 0.2em;
}

img#portrait {
    height: 100px;
    width: 100px;
    border: 0;
    display: block;
    float: right;
    @each $btype in $borderPrefixes {
        #{$btype}-radius: 50px;
    }

}


@font-face {
    font-family: 'FontAwesomeRegular';
    src: url(../fontawesome/fa-regular-400.eot);
    src:url(../fontawesome/fa-regular-400.eot?#iefix) format('embedded-opentype'),
        url(../fontawesome/fa-regular-400.woff) format('woff'),
        url(../fontawesome/fa-regular-400.woff2) format('woff2'),
        url(../fontawesome/fa-regular-400.ttf) format('truetype'),
        url(../fontawesome/fa-regular-400.svg) format('svg');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'FontAwesomeSolid';
    src: url(../fontawesome/fa-solid-900.eot);
    src:url(../fontawesome/fa-solid-900.eot?#iefix) format('embedded-opentype'),
        url(../fontawesome/fa-solid-900.woff) format('woff'),
        url(../fontawesome/fa-solid-900.woff2) format('woff2'),
        url(../fontawesome/fa-solid-900.ttf) format('truetype'),
        url(../fontawesome/fa-solid-900.svg) format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FontAwesomeBrands';
    src: url(../fontawesome/fa-brands-400.eot);
    src:url(../fontawesome/fa-brands-400.eot?#iefix) format('embedded-opentype'),
        url(../fontawesome/fa-brands-400.woff2) format('woff2'),
        url(../fontawesome/fa-brands-400.woff) format('woff'),
        url(../fontawesome/fa-brands-400.ttf) format('truetype'),
        url(../fontawesome/fa-brands-400.svg) format('svg');
    font-style: normal;
    font-weight: normal;
}

span.glyph { padding: 0 0.3em 0 0.7em; }
.fa { font-family: 'FontAwesomeBrands', 'FontAwesomeSolid', 'FontAwesomeRegular', Fallback, sans-serif; }

.fa-email::before { content: "\f0e0"; }
.fa-facebook::before { content: "\f09a"}
.fa-github::before { content: "\f09b"; }
.fa-google-plus::before { content: "\f2b3"; }
.fa-linkedin::before { content: "\f08c"; }
.fa-phone::before { content: "\f10b"; }
.fa-pubkey::before { content: "\f023"; }
.fa-twitter::before { content: "\f099"; }
.fa-site::before { content: "\f0c1"; }
.fa-reddit::before { content: "\f281"; }
